[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "leaflet.minicharts"]
	path = leaflet.minicharts
	url = https://github.com/cran/leaflet.minicharts
